CommonMark>=0.5.4
docutils>=0.14
html2text>=2018.1.9
Jinja2>=2.10.1
MarkupSafe>=1.1.0
munch>=2.3.2
pydash>=4.7.4
PyYAML>=5.1
recommonmark>=0.4.0
Sphinx>=1.8.3
sphinx-jekyll-builder>=0.2.2
sphinx-js>=2.3.1
sphinx-markdown-builder>=0.5.3
sphinx-rtd-theme>=0.2.4
